{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="">
            <h2>Novinky na hlavní straně - <a href="{{ path('vc_admin_news_edit', {newsId: 0}) }}">přidat novinku</a></h2>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Datum</th>
                    <th>Text</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for new in news %}
                    <tr>
                        <td>{{ new.id }}</td>
                        <td>{{ new.title }}</td>
                        <td>{{ new.date|date('d. m. Y') }}</td>
                        <td>{{ new.annotation|striptags|raw }}</td>
                        <td>
                            <a href="{{ path('vc_admin_news_edit', {newsId: new.id}) }}" class="btn btn-info btn-circle" title="Upravit"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('vc_admin_news_photos', {newsId: new.id}) }}" class="btn btn-success btn-circle" title="Řadit fotky"><i class="fa fa-camera"></i></a>
                            <a href="{{ path('vc_admin_news_upload', {newsId: new.id}) }}" class="btn btn-warning btn-circle" title="Nahrát fotky"><i class="fa fa-upload"></i></a>
                            <a href="" class="btn btn-danger btn-circle" title="Odstranit"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}