{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <h2>
            <a href="{{ path('vc_admin_news_edit', {newsId: new.id}) }}">Uprava aktuality</a> -
            <a href="{{ path('vc_admin_news_photos', {newsId: new.id}) }}">Upravit fotky</a> -
            <a href="{{ path('vc_admin_news_upload', {newsId: new.id}) }}">Nahrát fotky</a>
        </h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_row(form.savePhotos) }}



                <div id="sortable">
                    {% for photo in new.photos %}
                        <div class="panel panel-yellow photo" style="margin-right: 1em; cursor: move;" data-id="{{ photo.id }}">
                            <div class="panel-body" >
                                <img width="133" height="100" src="{{ photo.webPath|imagine_filter('reference_thumb') }}" />
                                {{ form_widget(form.children['photo'~photo.id]) }}
                                <button title="odstranit fotku" type="button" style="float:right;" class="btn-remove btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}