{% extends '@VCWeb/layout.html.twig' %}


{% block body %}
    <div class="content-wide">
        <div class="references">
            <div class="col-xs-12">
                <h2>Aktuálně</h2>
            </div>

            <div class="clearfix"></div>

            {% for newItem in news %}
                {% set mainPhoto = newItem.photos.get(0) %}
                <div class="reference-list-item col-lg-4 col-md-4 col-sm-6">
                    <div class="inner">
                        <a href="{{ path('vc_web_news', {id: newItem.id}) }}">
                            {% if mainPhoto %}
                                <img width="100%" src="{{ mainPhoto.webPath|imagine_filter('projekty_thumb') }}" alt="" title="" />
                            {% else %}
                                <img width="100%" src="{{ 'images/noimage.png'|imagine_filter('projekty_thumb') }}" alt="" title="" />
                            {% endif %}
                            <div class="info">
                                <h3>{{ newItem.title }}</h3>
                                <p>
                                    {{ newItem.date|date("d. m. Y") }}<br/>
                                    {{ newItem.annotation }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>

        </div>
    </div>

    <div class="clearfix"></div>
    <br/><br/>
{% endblock %}