{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    {% if references %}
        <h2>Seznam referencí</h2>
        <p>
            <a href="{{ path('vc_admin_reference_pdf') }}"><i class="fa fa-file-pdf-o"></i> &nbsp;Seznam v PDF.</a>
        </p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Klient</th>
                <th>Rok</th>
                <th>Menu</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
                {% for reference in references %}
                    <tr {% if reference.important %}class="success"{% endif %}>
                        <td>{{ reference.id }}</td>
                        <td>{{ reference.title }}</td>
                        <td>{{ reference.client }}</td>
                        <td>{{ reference.year }}</td>
                        <td>{{ reference.category.title }}</td>
                        <td>
                            <a href="{{ path('vc_admin_reference_edit', {referenceId: reference.id}) }}" class="btn btn-info btn-circle" title="Upravit"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('vc_admin_reference_photos', {referenceId: reference.id}) }}" class="btn btn-success btn-circle" title="Řadit fotky"><i class="fa fa-camera"></i></a>
                            <a href="{{ path('vc_admin_reference_upload', {referenceId: reference.id}) }}" class="btn btn-warning btn-circle" title="Nahrát fotky"><i class="fa fa-upload"></i></a>
                            <a href="" class="btn btn-danger btn-circle" title="Odstranit"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h2>V databázi zatím nejsou žádné reference.</h2>
    {% endif %}
</div>


{% endblock %}