{% extends '@VCWeb/layout.html.twig' %}

{% block body %}
<div class="content no-photo">
    <div class="text">

        <h2>BIM</h2>
        
        <div class="row flex-row">
            <div class="col-xs-6">
                <p>Již od roku 2008 se inženýři společnosti zabývají způsobem projektování s podporou technologie BIM. Prvním velkým projektem byl nový terminál Letiště Bratislava, zpracovávaný v letech 2008-2009. Projekt byl zpracováván ve velmi krátkých termínech a použití nových technologií bylo jedním z hlavních předpokladů úspěšného dokončení.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/01_Terminal.jpg') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>V následujících letech byl vývoj urychlen a počínaje novým desetiletím jsou již všechny projekty budov zpracovávané technologií BIM. Příkladem může být projekt multifunkčního stadionu a obchodního centra v Hradci Králové.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/02_Stadion_HK.png') }}" alt=""/>
                <img width="100%" src="{{ asset('images/BIM/03_OSC_HK.png') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>V současné době se dále zvyšují požadavky na koordinaci objektů a profesí, stejně jako termíny zpracování. Projekt administrativního centra Vinohradská je založen na konstrukci stávajících železničních tunelů.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/04_Vinohradska.jpg') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>Zároveň jsou navrhovány stále složitější a komplexnější stavby, jejichž zpracování tradičním způsobem tvorby projektové dokumentace již není zvládnutelné. Administrativní budova Letná je vynesena nad jižní tribunou fotbalového stadionu, přitom obě nosné konstrukce jsou mimoběžné.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/05_Tribuna-jih.jpg') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>V inženýrských stavbách je zavádění BIM s ohledem na odlišný charakter konstrukcí i způsobu projektování dlouhodobější proces. První větším mostním BIM projektem byl drážní most přes ulici Bartoškova v roce 2015.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/06_Bartoskova.jpg') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>V současné době jsou již i projekty inženýrských konstrukcí a mostů zpracovávány s podporou BIM. Příkladem je projekt lávky ve stanici nadzemní železnice Berlin Marzahn.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/07_Marzahn.jpg') }}" alt=""/>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xs-6">
                <p>V projektech silničních staveb je zavádění BIM prozatím ve fázi testování, jelikož programové systémy nejsou na tuto technologii úplně připraveny. V případě dálniční křižovatky Selenec bylo použití prostorového modelu nutným předpokladem úspěšného návrhu.</p>
            </div>
            <div class="col-xs-6">
                <img width="100%" src="{{ asset('images/BIM/08_Selenec.jpg') }}" alt=""/>
            </div>
        </div>
    </div>
</div>
{% endblock %}