<nav class="mainmenu">
    <ul>
        <li><a href="{{ path('vc_web_about_us') }}">O nás</a></li>
        <li><a href="{{ path('vc_web_news_list') }}">Aktuálně</a></li>
        <li><a href="{{ path('vc_web_references_2', {display: 'grid', sort: 'default'}) }}">Projekty</a></li>
        <li><a href="{{ path('vc_web_career') }}">Zaměstnání</a></li>
        <li><a href="{{ path('vc_web_contact') }}">Kontakt</a></li>
    </ul>
</nav>