{% extends '@VCWeb/layout.html.twig' %}

{% block body %}
    <div class="content">
        <div class="text">

        <h2>O nás</h2>
        <p>Jsme nezávislá projektová kancelář a navrhujeme pro Vás stavby již více než 20 let.
        Oddělení konstrukční statiky zpracovává návrhy všech druhů nosných konstrukcí a mostů,
            oddělené dopravních staveb zajišťuje komplexní projekty dopravní infrastruktury.</p>
        <p>Cílem našich inženýrů je navrhnout pro Vás konstrukci nebo stavbu, která splňuje Vaše
            nejnáročnější představy, a zároveň efektivně využívá Vaše finanční prostředky.</p>
        <p>Složité problémy nás neděsí, ale přitahují.</p>
        <h3>Konstrukce a mosty</h3>
        <ul>
            <li>Nosné konstrukce budov, mostů a inženýrské objektů</li>
            <li>Základové konstrukce, stavební jámy, konstrukce v interakci se zeminou</li>
            <li>Speciální výpočty, fyzikální a geometrická nelinearita, stabilitní problémy</li>
        </ul>
        <h3>Dopravní stavby</h3>
        <ul>
            <li>Dopravní stavby v extravilánu i městském prostředí</li>
            <li>Kapacitní výpočty, návrhy křižovatek</li>
            <li>Projekty venkovních inženýrských sítí, generální projektantství</li>
        </ul>
        <p>Ve společnosti byl v roce 1999 zaveden systém řízení jakosti dle ČSN ISO 9001, firma je
            pojištěna na profesní odpovědnost z výkonu činnosti pro ČR a SRN.</p>
        <p>Společnost byla založena v roce 1993 s majetkovou účastí německé firemní skupiny Inros
            Lackner.</p>
        <h3>Historie</h3>
        <h4>1993</h4>

        <div class="row">
            <div class="col-xs-6">
                <p>13. 6. 1993 - založení společnosti, první kanceláře v Oldřichově ulici v Praze 2.</p>
            </div>
        </div>

    <div class="row">
        <div class="col-xs-6">
            <img width="100%" src="{{ asset('images/01_Uecker.jpg') }}" alt=""/>
        </div>
        <div class="col-xs-6">
            <h4>1994-1995<br/>Projekt zvedacího mostu Ueckermünde v SRN</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h4>1995<br/>Stěhování kanceláří do ulice U Michelského mlýny v Praze 2.</h4>
        </div>
    </div>

            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/02_Plzenska.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>1994-1996<br/>
                        Projekt západního mostu přes Plzeňskou ulici v Praze.</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/03_Nyrany.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>1996-1997<br/>
                        Vývoj technologie tenkostěnných přesypaných mostů TOM2 a první realizace v Nýřanech, spojená se studijní zatěžovací zkouškou</h4>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/04_Evropska.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>1997-1998<br/>
                        Projekt mostů v křižovatce Evropská stavby 517 Řepy Ruzyně</h4>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4>1997-1999<br/>
                        Projekty dálničních mostů ve Slovenské republice na úseku Dolná Streda – Nové Mesto n.
                        Váhom a mimoúrovňové křižovatky Dolný Hričov</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>1996-1999<br/>
                        Spolupráce s firmou Heberger Systembau / Prefa Praha při návrhu prefabrikovaných skeletů.
                        Návrh a realizace nákupních středisek IKEA Zličín a Bauhaus Dolní Chabry.</h4>
                </div>
            </div>




            <div class="row">
                <div class="col-xs-6">
                    <h4>1999<br/>
                        Stěhování do kanceláří v Jeremenkově ulici.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/05_Jeremenkova.JPG') }}" alt=""/>
                </div>
            </div>



            <h3>2000</h3>

            <div class="row">
                <div class="col-sm-6">
                    <h4>2000-2002<br/>
                        Spolupráce s firmou Bilfinger a Berger CZ, projekt a realizace prefabrikovaných staveb Plus
                        DIscount Radonice a Knihvazárna Reus v Plzni.</h4>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <h4>2002-2003<br/>
                        Vstup do segmentu rozsáhlých konstrukcí budov a multifunkčních staveb. Projekt a realizace
                        monolitických konstrukcí Technoparku Pekařská v Praze 5 a Bytového komplexu Rubeška II
                        v Praze 9.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/06_Rubeska.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <h4>2000-2001<br/>
                        Projekt a realizace parkovacího domu Černý most, projekt byl oceněn hlavní cenou v soutěži
                        &quot;Vynikající betonová konstrukce 1996-2000&quot;.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/07_ccm.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2001-2002<br/>
                        Projekt a realizace obchodního centra Europark Praha Štěrboholy pro společnost Interspar.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/08_Europark.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h4>2003-2007<br/>
                        Spolupráce se společností Skanska. Projekt a realizace staveb Brose Kopřivnice, OC Nitra,
                        SPU Brno a Kemper Poříčí n. Sázavou.</h4>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <h4>2004-2005<br/>
                        Projekt a realizace Obchodního centra Vaňkovka Brno pro společnost ECE.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/09_Vankovka.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/10_Zahloubeni_MB.JPG') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>2002-2007<br/>
                        Projekt a realizace staveb Zahloubení železniční trati a Severovýchodní tangenty v Mladé
                        Boleslavi.</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2004-2005<br/>
                        Projekt a realizace obchodního centra Chodov v Praze. Stavba byla oceněna čestným
                        uznáním v soutěži &quot;Vynikající betonová konstrukce 2005-2007&quot;.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/11_Chodov.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2006-2007<br/>
                        Projekt a realizace multifunkční budovy Bondy centrum v Mladé Boleslavi.</h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/12_Bondy.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/13_Svojsin.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>2004-2008<br/>
                        Projekt a realizace železniční stavby Mimoúrovňové křížení Svojšín.</h4>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/14_PovBystr.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>2005-2009<br/>
                        Projekt a realizace mostů mimoúrovňové křižovatky v Považské Bystrici., SK.
                    </h4>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <h4>2007<br/>
                        Projekt a realizace parkovacího domu Plzeň Plaza.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/15_Plaza.JPG') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2007-2008<br/>
                        Projekt a realizace Obchodního centra Arkády Pankrác v Praze.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/16_Arkady.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/17_Ocelarska.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>2005-2009<br/>
                        Projekt a realizace lávek na nové cyklostezce Rokytka v Praze 9 s dominantní konstrukcí
                        zavěšené lávky přes ulici Ocelářskou.
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2006-2008<br/>
                        Projekt Obchodního centra Galerie Liberec. Stavba byla zahájena, ale investor po
                        neshodách se zastupitelstvem města od projektu odstoupil.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/18_Liberec.jpg') }}" alt=""/>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6">
                    <h4>2008-2009<br/>
                        Projekt nového terminálu Letiště Bratislava. Jednalo se o první velký projekt, který byl
                        zpracován s využitím 3D modelování. Stavba byla realizována v letech 2009-2012,
                        prováděcí dokumentaci zajišťoval zhotovitel stavby.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/19_Terminal.jpg') }}" alt=""/>
                </div>
            </div>

            <h3>2010</h3>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2009-2014<br/>
                        Projekt a realizace rozsáhlého kancelářského komplexu River Garden II/III v Praze 9. Stavba
                        byla oceněna čestným uznáním v soutěži &quot;Vynikající betonová konstrukce 2013-2016&quot;.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/21_Riga.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2009-2016<br/>
                        Projekt obchodního centra a stadionu v Hradci Králové. Investorem stavby bylo město
                        Hradec Králové se společností ECE, která v roce 2015 po neshodách se zastupitelstvem od
                        projektu odstoupila. V současné době se zpracovává nový projekt na stadion ve zmenšeném
                        rozsahu, objekt obchodního centra nebude realizován.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/22_Stadion_HK.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h4>2009-2014<br/>
                        Projekt a realizace stavby Rekonstrukce a dostavba hotelového komplexu Národního domu
                        Karlovy Vary. Projekt byl původně koncipován jako rekonstrukce s rozsáhlou přístavbou
                        nového hotelu, v průběhu přípravy byl projekt redukován na část rekonstrukce s vnitřní
                        vestavbou.
                    </h4>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6">
                    <h4>2010-2011<br/>
                        Projekt a realizace stavby Parkovacího domu O2 v Praze 3. Stavba byla oceněna čestným
                        uznáním v soutěži &quot;Vynikající betonová konstrukce 2006-2010.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/20_Parking-O2.JPG') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2011-2012<br/>
                        Projekt a realizace stavby komplexu Darwineum Rostock v SRN.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/23_Darwineum.JPG') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2013-2014<br/>
                        Projekt hotelového komplexu Pflaums Posthotel Pegnitz v Německu. Jednalo se o první
                        samostatnou zakázku společnosti v SRN, projekt však nebyl realizován v důsledku
                        odstoupení investora.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/24_Pegnitz.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/25_Bartoskova.jpg') }}" alt=""/>
                </div>
                <div class="col-xs-6">
                    <h4>2015<br/>
                        Projekt železničního mostu přes ulici Bartoškova v Praze 10. Realizace se předpokládá
                        v letech 2017-2018.
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4>2012-2016<br/>
                        Projekt nástavby bytového domu Kantstrasse v Berlíně. Po 5 letech se podařilo získat
                        stavební povolení, ale s ohledem na technickou náročnost řešení a komplikace v jednání s
                        kontrolním statikem se jednalo o největší obchodní ztrátu v historii společnosti. Prozatím
                        nerealizováno.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/26_Kantstrasse.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h4>2013-2014<br/>
                        Projekt a realizace stavby logistického centra Volkswagen v Braunschweigu, SRN.
                    </h4>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6">
                    <h4>2015-2016<br/>
                        Projekt novostavby přírodovědecké fakulty UJEP v Ústí n.Labem, realizace se předpokládá
                        v letech 2017-2019.
                    </h4>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/27_UJEP.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4>2012-2017<br/>
                        Projekt rekonstrukce stadionu Sparta Praha na Letné. Původně bylo navrženo rozšíření a
                        zastřešení tribun, v současné době se projekt rozšiřuje o novou administrativní budovu nad
                        jižní tribunou.
                    </h4>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <h4>2015-2017<br/>
                        Projekt administrativního komplexu Vinohradská v Praze na pozemku bývalého Transgasu.
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4>2016-2017<br/>
                        Projekt novostavby kongresového hotelu Letná v Praze. Rozsáhlý hotelový komplex
                        s vykonzolovanou částí nad výjezdem z tunelu Blanka.
                    </h4>
                </div>
            </div>







            <h3>BIM</h3>

            <div class="row">
                <div class="col-xs-6">
                    <p>Již 10 let se inženýři společnosti zabývají vývojem projektování s podporou technologie BIM.
                        Prvním velkým projektem byl nový terminál Letiště Bratislava, zpracovávaný v letech 2008-
                        2009. Projekt byl zpracováván ve velmi krátkých termínech a použití nových technologií bylo
                        jedním z hlavních předpokladů úspěšného dokončení.</p>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/BIM/01_Terminal.jpg') }}" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <p>V následujících letech byl vývoj urychlen a počínaje novým desetiletím jsou již všechny
                        projekty budov zpracovávané technologií BIM.</p>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/BIM/02_Stadion_HK.png') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p>V inženýrských stavbách je zavádění BIM složitější, ale i zde patří společnost k absolutní
                        špičce. První větším mostním BIM projektem byl drážní most přes ulici Bartoškova v roce
                        2015 a v současné době již i mostní projekty jsou zpracovávány s podporou BIM.</p>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/BIM/04_Bartoskova.jpg') }}" alt=""/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <p>BIM v projektech silničních staveb je prozatím ve fázi testování, jelikož programové systémy
                        nejsou na tuto technologii úplně připraveny.</p>
                </div>
                <div class="col-xs-6">
                    <img width="100%" src="{{ asset('images/BIM/05_Selenec.jpg') }}" alt=""/>
                </div>
            </div>


            <h3>Vedení společnosti</h3>



        <p>Vedení společnosti tvoří zkušení inženýři s dlouhodobou praxí. Všichni vedoucí pracovníci
        včetně ředitele společnosti se osobně podílejí na řízení i zpracování projektů a tímto si trvale
            udržují bezprostřední kontakt s odbornou problematikou i technologií projektování.</p>

            <div class="row vedeni-row">
                <div class="col-xs-4 vedeni">
                    <img src="http://lorempixel.com/400/200/people/1">
                    <h4>Ing. Vladimír Vančík, CSc.</h4>
                    <span>
                        Ředitel společnosti, AI pro mosty a inženýrské konstrukce, oprávnění pro navrhování nosných konstrukcí v SRN
                    </span>
                </div>

                <div class="col-xs-4 vedeni">
                    <img src="http://lorempixel.com/400/200/people/2">
                    <h4>Ing. Pavel Kormaňák</h4>
                    <span>Vedoucí oddělení mostů a inženýrských staveb, AI pro mosty a inž. konstrukce</span>
                </div>

                <div class="col-xs-4 vedeni">
                    <img src="http://lorempixel.com/400/200/people/3">
                    <h4>Ing. Michal Svoboda</h4>
                    <span>Hlavní statik, vedoucí oddělení statiky budov</span>
                </div>

                <div class="col-xs-4 col-xs-offset-2 vedeni">
                    <img src="http://lorempixel.com/400/200/people/4">
                    <h4>Ing. Jan Hradil, PhD.</h4>
                    <span>Vedoucí oddělení dopravních staveb, AI pro dopravní stavby</span>
                </div>

                <div class="col-xs-4 vedeni">
                    <img src="http://lorempixel.com/400/200/people/5">
                    <h4>Ing. Jiří Biegl</h4>
                    <span>Specialista dopravních staveb, AI pro dopravní stavby</span>
                </div>
            </div>


            <h3>Firemní skupina</h3>

        <p>Firemní skupina INROS-LACKNER vznikla spojením dvou větších inženýrských firem Prof.
        Dr. Lackner a Partner GmbH se sídlem v Brémách (založena 1936) a INROS
        Planungsgesellschaft mbH se sídlem v Rostocku (založena 1950), spolu s řadou menších
        projekčních kanceláří v Německu. Společnost Lackner a Partner byla vysoce kvalifikovaná
        kacelář s úzkou specializací na projekty přístavů po celém světě pod dlouholetým vedením
        světově známého odborníka na přístavní inženýrství Prof. Lacknera (m.j. dlouholetý
        předseda pracovní skupiny „Ufereinfassungen“). Společnost Inros byla naopak komplexně
        založená multidisciplinární projektová firma s aktivitami v severním Německu, usilující o
            rozšíření působnosti v evropském a světovém měřítku.</p>
        <p></p>S nástupem velkých projektů bylo nutno firemní strukturu zjednodušit a zprůhlednit, proto
        byla firemní skupina v roce 2001 transformována do akciové společnosti Inros Lackner SE
        s pobočkami po celém Německu. V mezinárodním měřítku je přítomna prostřednictvím
        poboček v  Bělorusku, Vietnamu, Kambodži a Togu a zastoupeními v mnoha zemích Asie a
        Afriky. Společnost zaměstnává přibližně 350 inženýrů a zajišťuje komplexní škálu
            projektových, inženýrských a konzultačních činností.</p>
            <ul>
                <li>Projekty námořních i vnitrozemských přístavů, logistika a organizace provozu</li>
                <li>Trajektové terminály, vnitrozemské vodní cesty, zdymadla</li>
                <li>Architektura, urbanismus a územní plánování</li>
                <li>Komplexní projekty budov s důrazem na optimalizaci spotřeby energie</li>
                <li>Projekty dopravní infrastruktury včetně mostů a dalších souvisejících profesí</li>
                <li>Regionální a nadregionální dopravní průzkumy a plánování</li>
                <li>Protipovodňová ochrana, protierozní ochrana pobřeží</li>
                <li>Ekologické analýzy, projekty ekologických staveb</li>
            </ul>
    </div>
    </div>
{% endblock %}